:root {
  --background: #2e1d5f;
  --button-primary: #5a37bc;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 76rem;
  margin: 0 auto;
}
.background-blue {
  background-color: var(--background);
}
